__pycache__
.venv
.git
.gitignore
*.pyc
*.log
*.sqlite3
.rag/
faiss_index_MiniLM_description.faiss
faiss_index_MiniLM_prerequisites.faiss
faiss_index_MiniLM_title.faiss
course_metadata_MiniLM_description.json
course_metadata_MiniLM_prerequisites.json
course_metadata_MiniLM_title.json
